<div class="heading">
    <new-todo [init]="userId" (popupClose)="closePopup($event)" class="{{isPopupActive ? 'is-open' : ''}}"></new-todo>
    <button class="btn" (click)="openPopup()">Add new todo item</button>
</div>
<ul class="todos">
    <li *ngFor="let todo of todos" data-id="{{todo.id}}" class="{{todo.done ? 'is-done' : ''}}">
        <div class="input-holder">
            <input type="checkbox" [checked]="todo.done === true" (change)="done(todo)">
        </div>
        <div class="info">
            <div class="title"><h3>{{todo.title}} <span *ngIf="todo.required" class="required">(required)</span></h3></div>
            <div class="description">{{todo.description}}</div>
            <!--<div class="date">Expired date:</div>-->
        </div>
        <button class="btn btn-primary remove" (click)="remove(todo)">x</button>
    </li>
</ul>