:host {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
}

.login-form {
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
    padding: 20px;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px rgba(0,0,0,.14), 0 1px 18px rgba(0,0,0,.12);
    background: #f6f6f6;
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 16px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
}

.tip {
    font-size: 11px;
}